header .ci a {
	display:inline-block; width: 56px; height: 56px; position: fixed; top: 40px; left: 40px; z-index: 1000;
	font-size:0;
	background:url('../images/ci_bk.svg') no-repeat center;
	background-size:56px;
}

header .ci.menu-open a {
	background:url('../images/ci_wh.svg') no-repeat center;
	background-size:56px;
}

.toggle-button .menu-bar-top { border: 3px solid #222; border-bottom: none; top: 16px; }
.toggle-button .menu-bar-bottom { border: 3px solid #222; border-top: none; top: 33px; }

.toggle-button.button-open .menu-bar-top {border:3px solid #fff; border-bottom: none;}
.toggle-button.button-open .menu-bar-bottom {border:3px solid #fff; border-top: none;}

.content { position: relative; z-index: 103; overflow: hidden; }

/* 모바일 */
@media all and (max-width: 800px) { 
	header .ci a {
		width:48px; height:48px; top:8vw; left:8vw;
		background:url('../images/ci_bk.svg') no-repeat center;
		background-size:48px;
	}
	header .ci.menu-open a {
		background:url('../images/ci_wh.svg') no-repeat center;
		background-size:48px;
	}
	.toggle-button .menu-bar-top { border: 3px solid #222; border-bottom: none; top: 16px; }
	.toggle-button .menu-bar-bottom { border: 3px solid #222; border-top: none; top: 29px; }
}




select.select {border:0;}




.contact {background:#fff;}
.contact-1 {padding:10.41vw 0 7.8vw; background:#f5f5f5;}
.contact-1 > form {width:1200px; margin:0 auto;}
.contact-1 h2 {font-size:3.125vw; color:#222; font-weight:700; line-height:1.3; letter-spacing:-0.08vw;}
.contact-1 h2 span {font-weight:300;}
.contact-1 .frm-tbl {margin-top:3.64vw;}
.contact-1 .frm-tbl > div {border:solid 1px #ccc; background:#fff;}
.contact-1 .frm-tbl > div li {height:5.2vw; line-height:5.2vw; padding:0 2.0vw; font-size:1.04vw; color:#222;}
.contact-1 .frm-tbl > div li span {color:#888; font-weight:400;}
.contact-1 .frm-tbl > div input[type=text],
.contact-1 .frm-tbl > div textarea {height:90%; line-height:90%; font-size:1.04vw; color:#222;}
.contact-1 .frm-tbl > div .textarea {height:20.83vw; line-height:inherit; padding:2.0vw; background:#fcfcfc;}
.contact-1 .frm-tbl > div .textarea textarea {background:#fcfcfc; resize:none;}
.contact-1 .frm-tbl > div li + li {border-top:solid 1px #ccc;}
.contact-1 .frm-tbl > div.tbl-left {float:left; width:48%;}

.contact-1 .frm-tbl > div.tbl-right {float:right; width:48%;}
.contact-1 .frm-tbl > div.tbl-right li span {color:#222;}
.contact-1 .frm-tbl > div.tbl-right li span:last-child {padding-left:2.0vw;}

.contact-1 .prv {margin-top:2.08vw;}
.contact-1 .prv > div {height:5.2vw; line-height:5.2vw; padding:0 2.0vw; font-size:1.04vw; color:#222; border:solid 1px #ccc; background:#fff;}
.contact-1 .prv > div span,
.contact-1 .prv > div span a {display:inline-block; font-size:0.93vw;}
.contact-1 .prv > div span:first-child a {
    padding-right:2.08vw; color:#222;
    background:url('../images/contact_arr.png') no-repeat right 5px center;
    background-size:1.56vw;
}
.contact-1 .prv > div span:last-child {float:right; color:#777;}
.contact-1 .button {margin-top:2.08vw; text-align:center;}
.contact-1 .button .btn {
    display:inline-block; border:0; outline-style:none; background:#222; color:#fff;
    font-size:1.14vw; font-weight:700; width:14.58vw; height:4.16vw; cursor:pointer; letter-spacing:-0.05vw;
}


.contact-2 {background:#fff;}
.contact-2 > div {position:relative; padding:7.8vw 0 7.8vw; width:1200px; margin:0 auto;}
.contact-2 img {position:absolute; top:7.8vw; right:0; width:14.583vw; height:14.583vw;}
.contact-2 h2 {font-size:3.125vw; color:#222; font-weight:300; line-height:1.3; letter-spacing:-0.08vw;}
.contact-2 h2 span {font-weight:700;}

.contact-2 .info {margin-top:5.208vw;}
.contact-2 .info ul li {display:inline-block; margin-bottom:1.5625vw;}
.contact-2 .info ul li a {text-decoration:none;}
.contact-2 .info ul li a,
.contact-2 .info ul li span {display:inline-block; font-size:2.083vw; color:#222; font-weight:600; border-bottom:solid 2px #222;}
.contact-2 .info ul li:first-child {display:block;}
.contact-2 .info ul li:last-child {margin-left:1.5625vw;}

.contact-2 p {margin-top:5.208vw; font-size:1.66vw; color:#222; line-height:1.7;}
.contact-2 p span {font-weight:600;}

.contact-3 {position:relative; padding-top:40%; width:100%;}
.contact-3 .map {position:absolute; top:0; left:0; width:100%; height:100%;}


/* 반응형 */
@media all and (min-width: 1920px) {
    .contact-1 > form {width:62.5%;}
    .contact-2 > div {width:62.5%;}
} 

/* 반응형 */
@media all and (max-width: 1200px) {
    .contact-1 {padding:16.66vw 3.57vw 12.5vw;}
    .contact-1 > form {width:100%;}
    .contact-2 > div {width:100%; padding:12.5vw 3.57vw 12.5vw;}
    .contact-2 img {top:12.5vw; right:3.57vw;}
} 

/* 모바일 */
@media all and (max-width: 800px) { 
    .contact-1 {padding:25vw 8vw 18.75vw;}
    .contact-1 h2 {font-size:7.5vw;}
    .contact-1 .frm-tbl {margin-top:8.75vw;}
    .contact-1 .frm-tbl > div.tbl-left {width:100%;}
    .contact-1 .frm-tbl > div.tbl-right {width:100%; margin-top:5vw;}
    .contact-1 .frm-tbl > div li {height:12.5vw; line-height:12.5vw; padding:1px 5vw; font-size:2.9vw;}
    .contact-1 .frm-tbl > div.tbl-right li span:last-child {padding-left:5vw;}
    .contact-1 .frm-tbl > div input[type=text],
    .contact-1 .frm-tbl > div textarea {font-size:2.9vw;}
    .contact-1 .frm-tbl > div .textarea {height:50vw; padding:5vw;}
    .contact-1 .prv {margin-top:5vw;}
    .contact-1 .prv > div {height:12.5vw; line-height:12.5vw; padding:0 5vw; font-size:2.5vw;}
    .contact-1 .prv > div span a,
    .contact-1 .prv > div span {font-size:2.6vw;}
    .contact-1 .prv > div span:first-child a {
        padding-right:5vw;
        background:url('../images/contact_arr.png') no-repeat right 3px center;
        background-size:3.75vw;
    }
    .contact-1 .button {margin-top:5vw;}
    .contact-1 .button .btn {width:35vw; height:10vw; font-size:2.75vw;}
    .contact-2 > div {padding:18.75vw 8vw 18.75vw;}
    .contact-2 img {top:18.75vw; right:8vw;}
    .contact-2 h2 {font-size:7.5vw;}
    .contact-2 .info {margin-top:12.5vw;}
    .contact-2 .info ul li {display:block; margin-bottom:3.75vw;}
    .contact-2 .info ul li a,
    .contact-2 .info ul li span {font-size:5vw;}
    .contact-2 .info ul li:last-child {margin-left:0;}
    .contact-2 p {margin-top:12.5vw; font-size:4vw;}

	.contact-1 .frm-tbl > div input[type=text] {}
}   

/* 모바일 */
@media all and (max-width: 480px) {  

}